/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2017, 1:40:58 PM
    Author     : Sanket MIttal
*/

.main-nav {
  width: 100%;
  background: black;
  min-height: 20px;
  padding: 10px;
  position: fixed; 
}
.nav {
  list-style-type: none; 
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding-right: 40px;
}
li {
   float: right;
}
.nav .name {
  color: white;
  align-content: flex-start; 
}
.nav li {
  padding: 5px; 
} 
.nav a {
  transition: all .5s;
  text-decoration: none; 
  color: 	#1E90FF;
  padding-left:10px; 
}
.nav a:hover {
  color: white
}

main {
   line-height: 1.5; 
  padding-top: 50px; 
  padding-left: 10px; 
  text-align:left;
}